.events{
	width: 40%;
	display: inline-block;
	opacity:0;
}
.imgleft{
    float: left;
    margin:0 0 0 -30px;
}
.imgright{
    float: right;
    margin:0 -30px 0 0;
}
.eleft{
    transition : margin-left 0.6s linear,opacity 0.6s linear;
    -webkit-transition :  margin-left 0.6s linear,opacity 0.6s linear;
}
.eright{
    transition : margin-right 0.6s linear,opacity 0.6s linear;
    -webkit-transition :  margin-right 0.6s linear,opacity 0.6s linear;
}       
.evleft{
	margin-left:200px;
	opacity: 1;
}
.evright{
	margin-right: 20px;
	opacity: 1;
}
.darken{
	display: inline-block;
    background-image:19.gif;
	opacity:0.9;
	height:400px;
	width:400px
}
.darken img {
    display: block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.image_hover:hover img {
	opacity: 0.8; 
}
.image_hover:hover .description{
	opacity: 1;
	color: black;
	display: inline-block;
}
.image_hover{
	position: relative;
}
.description {
	position:absolute;
	top:290px;
	left:10px;
	display: none;
	text-align: justify;
	width: 100%

}
#ph1 hover>a{height:400px;width:60px;}